<%= render "/layouts/navbar", hauteur: "100"  %>

<%= simple_form_for :filter, url: trips_path, method: :get, data: { controller: 'filters' }, html: { style: "flex-grow: 1; display: flex; flex-direction: column;     flex-grow: 1;"} do |f| %>
  <div class="searchbar-container text-center">
    <div class="d-flex searchbar-wrapper">
          <%= f.input :title, label: false,
            placeholder: 'Where do you want to go?',
            wrapper_html: { class: "searchbar-wrapper" },
            input_html: { value: @query, class: "searchbar form-control rounded-pill mr-2 py-2 w-70", style: "width: 80%;" } %>
          <%= f.submit "Search", class: "button-dark-green rounded-pill searchbar-button py-0" %>
    </div>
  </div>


  <div class="container-fluid ps-0" style="height: 100%; flex-grow: 1;">
    <div class="row" style="height: 100%">
      <nav class="col-md-4 col-lg-2 d-md-block sidebar">
        <%= render "/layouts/budgetslider", f:f %>
        <hr>

            <h4 class="my-3">Trip Styles</h4>
            <%= f.input :style, legend_tag: false, as: :check_boxes, collection: Trip.where.not(style: nil).pluck(:style).uniq.map { |style| [style.capitalize, style] }, checked: @selected_styles %>
        <% end %>
      </nav>

      <div class="col-8 ms-sm-auto col-lg-10 px-md-4">
        <div class="card-trip-grid">
          <% @trips.each do |trip| %>
            <%= link_to trip_path(trip) do %>
              <div class="card-trip">
                <%= image_tag trip.image_url %>

                <div class="card-trip-infos">
                  <div>
                    <h2><%= trip.title %></h2>
                    <div class="d-flex align-items-center">
                      <button class="btn"><%= trip.style %></button>
                      <button class="btn">$<%= trip.budget %></button>
                    </div>
                  </div>
                  <div>
                  <div class="card-planner d-flex flex-column align-items-center">
                    <p class="mx-auto"><%= trip.planner.first_name %></p>
                    <p class="mx-auto"><%= trip.planner.last_name %></p>
                  </div>
                    <%= image_tag trip.planner.image_url, class: "card-trip-user avatar-bordered" %>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

<%= render "layouts/footer" %>
