<%= render "/layouts/navbar" %>

  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-4 col-lg-2 d-md-block sidebar">
        <%= render "/layouts/budgetslider" %>
        <hr>

        <%= simple_form_for :filter, url: trips_path, method: :get do |f| %>
            <h4 class="my-3">Trip Styles</h4>
            <%= f.input :style, legend_tag: false, as: :check_boxes, collection: Trip.where.not(style: nil).pluck(:style).uniq.map { |style| [style.capitalize, style] } %>
            <%= f.submit %>
        <% end %>
      </nav>

      <div class="col-8 ms-sm-auto col-lg-10 px-md-4">
        <div class="card-trip-grid">
          <% @trips.each do |trip| %>
          <div class="card-trip">
            <%= image_tag trip.image_url %>
            <div class="card-trip-infos">
              <div>
                <h2><%= link_to trip.title, trip_path(trip) %></h2>
                <p><%= trip.comment %></p>
              </div>
              <h2 class="card-planner"><%= trip.planner.first_name %> <%= trip.planner.last_name %></h2>
              <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
