<%= render "/layouts/navbar_searchbar" %>

  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-4 col-lg-2 d-md-block sidebar">
        <div class="budgetSlider">
          <h4>Budget</h4>
          <div class="min-max">
            <div class="min">
              <label>Min</label><span id="min-value"></span>
            </div>
            <div class="max">
              <label>Max</label><span id="max-value"></span>
            </div>
          </div>
        </div>
            <div class="min-max-range">
              <input type="range" min="0" max="5000" value="2000" class="range" id="min">
              <input type="range" min="5001" max="10000" value="8000" class="range" id="max">
            </div>
          <hr>

        <%= simple_form_for :filter, url: trips_path, method: :get do |f| %>
            <h4 class="my-3">Trip Styles</h4>
            <%= f.input :style, legend_tag: false, as: :check_boxes, collection: Trip.pluck(:style).uniq.map { |style| [style, style] } %>
            <%= f.submit %>
        <% end %>
      </nav>

      <div class="col-8 ms-sm-auto col-lg-10 px-md-4">
        <div class="card-trip-grid">
          <% @trips.each do |trip| %>
          <div class="card-trip">
            <%= image_tag trip.image_url %>
            <div class="card-trip-infos">
              <div>
                <h2><%= link_to trip.title, trip_path(trip) %></h2>
                <p><%= trip.comment %></p>
              </div>
              <h2 class="card-planner"><%= trip.planner.first_name %> <%= trip.planner.last_name %></h2>
              <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
            </div>
          </div>
          <% end %>
        </div>
      </div>
  </div>
