<%= render "/layouts/navbar", hauteur: "100", searchbar: false %>

<div class="container">
  <div class="trip_show_header">
    <h2><strong><%= @trip.title %></strong></h2>
    <h3><strong>by <%= @trip.planner.first_name %> <%= @trip.planner.last_name %></strong></h3>
  </div>
  <p><%= @trip.comment %></p>
  <%= image_tag @trip.image_url %>
  <div class="trip_destinations">
    <% @trip.destinations.each_with_index do |destination, i| %>
      <div class="trip_destination">
        <div class="trip_destination_infos">
          <div class="trip_destination_header">
            <h1><strong>#<%= i+1 %></strong></h1>
            <h4><strong><%= destination.title %></strong></h4>
          </div>
          <div class="trip_destination_address"><%= destination.address %></div>
          <p><%= destination.description %></p>
        </div>
        <div class="trip_map"
          data-controller="map"
          data-map-markers-value="<%= [{ lat: destination.latitude, lng: destination.longitude }].to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    <% end %>
  </div>

  <div class="button-container">
    <%= link_to 'Contact the planner', my_trips_path(trip_id:@trip.id), class: "link-btn-container button-dark-green-show button-disabled", data: { turbo_method: :post } %>
  </div>


</div>

<%= render "layouts/footer", position: "relative" %>
