<%= render "/layouts/navbar", hauteur: "20", searchbar: false  %>
<h1>My trips</h1>

<div class="my_trip_container">
  <div class="row">
    <div class="col-md-3">
      <div class="scrollable-content" id="col1">
        <ul>
          <% @trips.each do |trip| %>
            <% if current_user.id == trip.planner.id && trip.planner.id != trip.tripper.id %>
              <%= link_to my_trip_path(trip), id: (trip.id == @trip.id ? 'my_conversation' : nil) do %>
                <li>
                  <strong><%= trip.title %></strong><br><%= trip.tripper.first_name %> <%= trip.tripper.last_name %>
                </li>
              <% end %>
            <% elsif current_user.id == trip.tripper.id && trip.planner.id != trip.tripper.id %>
              <%= link_to my_trip_path(trip), id: (trip.id == @trip.id ? 'my_conversation' : nil) do %>
                <li>
                  <strong><%= trip.title %></strong><br><%= trip.planner.first_name %> <%= trip.planner.last_name %>
                </li>
              <% end %>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="col-md-4">
      <div class="scrollable-content" id="col2">
       <!-- <%= "Tripper : #{@trip.tripper.first_name} (#{@trip.tripper.id})" %><br>
        <%= "Planner : #{@trip.planner.first_name} (#{@trip.planner.id})" %><br>
        <%= "current_user : #{current_user.first_name} (#{current_user.id})" %> -->
        <div class="messages">
          <% rr = @trip.messages.sort_by(&:created_at) %>
          <% rr.each do |message| %>
            <div class="message <%= current_user.id == message.user_id ? " right" : "left" %>" id="message-<%= message.id %>">
              <small>
                <strong><%= message.user.first_name  %></strong>
                <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
              </small>
              <p <%= message == @trip.messages.last ? "id=mid_scroll_right" : nil %>><%= message.content %></p>
            </div>
          <% end %>
          <%= simple_form_for [@trip, @new_message], url: my_trip_messages_path(@trip.id) do |f| %>
            <%= f.input :content, as: :text, input_html: { id: 'new_messages', name: 'message[content]' }, label: false %>
            <%= f.button :submit, id: 'btn_new_messages', value: ">" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="scrollable-content" id="col3">
        <!--<%= link_to("Trip initial", trip_path(@trip.trip_id)) if !@trip.trip_id.nil? %>-->


        <h4><strong><%= @trip.title %></strong></h4>
        <p><%= @trip.comment %></p>
        <div class="my_trips_destinations">
            <%= render partial: "shared/draganddrop", locals: {trip: @trip} %>
          <!--<% if current_user != @trip.planner %>


          <% else %>


          <% end %>-->
        </div>
      </div>
    </div>
  </div>
</div>


<%= render "layouts/footer", position: "absolute" %>

<script>
  document.getElementById('new_messages').addEventListener('keydown', function(event) {
    if (event.key === 'Enter') {
      event.preventDefault();
      document.getElementById('btn_new_messages').click();
    }
  });
</script>
