<%= render "/layouts/navbar", hauteur: "20"  %>
<%= render "layouts/searchbar" %>

<div class="content my-3">
  <h2 class="text-center pb-4">Our recommandations of the day:</h2>
  <div class="card-container">
    <div class="travel-card">
      <%= image_tag('santorini.jpg', width: 150, height: 150) %>
      <p class="city-name">Santorin</p>
    </div>
    <div class="travel-card">
      <%= image_tag('tokyo.jpg', width: 150, height: 150) %>
      <p class="city-name">Tokyo</p>
    </div>
    <div class="travel-card">
      <%= image_tag('bali.jpg', width: 150, height: 150) %>
      <p class="city-name">Bali</p>
    </div>
  </div>
</div>

<%= render "layouts/footer", position: "absolute" %>
