<%= render "/layouts/navbar", hauteur: "20", searchbar: false  %>

<div class="container edit-trip">
  <h1>Edit your trip</h1>
  <%= simple_form_for [:planner, @trip],  data: { controller: 'nested-form', nested_form_wrapper_selector_value: '.nested-form-wrapper' } do |f| %>
    <%= f.input :title, placeholder: 'Title of your Trip', wrapper_html: { class: "custom-wrapper" }, input_html: { class: "custom-input"}, label_html: { class: "custom-label"} %>
    <%= f.input :comment, placeholder: 'An amazing trip', wrapper_html: { class: "custom-wrapper" }, input_html: { class: "custom-input"}, label_html: { class: "custom-label"}  %>
    <%= f.input :budget, input_html: { min: '0', step: 'any' }, placeholder: 'For the trip', input_html: { class: "custom-input"},  label_html: { class: "custom-label"} %>
    <%= f.input :city, placeholder: 'Bordeaux', label_html: { class: "custom-label"}, input_html: { class: "custom-input"} %>
    <div class="photo">
      <%= f.input :photo, class: "upload-photo form-control", input_html: { class: 'd-none' }, label_html: { class: 'upload-photo'}, label: '📷  Upload a photo' %>
    </div>
    <div class="checkbox-title">Select trip style</div>
    <%= f.input :style,
      collection: Trip::STYLES,
      legend_tag: false,
      as: :check_boxes,
      input_html: { class: "tag-selector" },
      item_wrapper_class: 'tag-item' %>


    <template data-nested-form-target="template">
      <%= f.fields_for :destinations, Destination.new, child_index: 'NEW_RECORD' do |destination_fields| %>
        <%= render "destination_form", f: destination_fields %>
      <% end %>
    </template>

    <%= f.fields_for :destinations do |destination_fields| %>
      <%= render "destination_form", f: destination_fields %>
    <% end %>

    <div data-nested-form-target="target">
     <button class="button-green" type="button" data-action="nested-form#add"><i class="fa-sharp fa-solid fa-plus me-2" style="color: #ffd600;"></i> Add destination</button>
    </div>

    <div class="update-button">
    <%= f.submit "Update Trip", class: 'button-dark-green', style: 'margin-top:10px;' %>
    </div>
  <% end %>
</div>
