<nav>
  <div class="navbar-top navbar-height-<%= hauteur %>" >
    <a href="<%= root_path %>">
      <%= image_tag('logo.png', class: "img-navbar-height-#{hauteur}") %>
    </a>

    <div class="navbar-middle">
      <h2>Find your next adventure</h2>
    </div>

    <div class="navbar-end">
      <ul class="nav navbar-nav navbar-right ml-auto">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= image_tag current_user.image_url, class: "card-trip-user avatar-bordered", alt: "dropdown menu" %>
            </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">

            <% if !current_user.custom_trips.any? %>
              <%= link_to "Suggest a trip", new_planner_trip_path, class: "dropdown-item" %>
            <% else %>


              <%= link_to "My messages", my_trip_path(current_user.custom_trips.first), class: "dropdown-item" %>
            <% end %>

            <%= link_to "My trips", planner_trips_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" %>
            </div>

          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "button" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
